{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/style.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
        <link rel="icon" type="image/jpg" href="{% static 'auction.jpg' %}" />
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
        <script src="{% static 'auctions/frontEndLogic.js' %}" type="text/javascript"></script>
        <nav class="navbar navbar-expand-md navbar-light navigation_top">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"></div>
            <div class="mx-auto order-0">
                <a class="logo_page" href="{% url 'index' %}">
                    <div class="contentDiv">Auctions website</div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <!-- <div class="mx-auto order-0"> -->
                        <!-- <ul class="navbar-nav ml-auto">
                            {% for person in persons %}
                            
                            {% endfor %}
                        </ul> -->
                    <!-- </div> -->
                    <li class="nav-item">
                        <!-- <a class="nav-link">Category</a> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in userCategory %}
                                    <a class="dropdown-item" 
                                    href="{% url 'category' category=category.name%}" 
                                    >{{category}}</a>
                                {% endfor %}
                            </div>
                        </li>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_auction_item' %}">Create Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'watchlist_item' %}">Watch-list 
                            <span id="button_heart_watchList">{{totalAuctions}}</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.username|title}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'my_listings_view' user=request.user %}">My listings</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if persons %}
        <nav class="navbar navbar-expand navbar-light list_categories">
            Auction is a website specializing in buying and selling by auction, you will have the best quality product at the best price.
            
        </nav>
        {% endif %}
        <div class="middle">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
